html, body
{
	margin:0;
	padding:0;
	background-image: url("../image/background.jpg");
	background-repeat: repeat;
	background-position: left;
	background-attachment: fixed;
	background-size:cover;
}

#content
{
	width:600px;
	height:400px;
	margin-left:auto;
	margin-right:auto;

}
/* Pour les erreurs */
code
{
	overflow:scroll;
	display: flex;
	overflow-y: hidden;
}
.center
{
	text-align:center;
}

.error
{
	color:#e74c3c;
	font-weight:bold;
}
/* pour les tableaux */

td.titre
{

	font-weight:bold;
}
td
{	
	text-align:center;
	padding-left:40px;
	padding-right:40px;
	border:0px;
	display:inline;
}
/* Pour le menu */

a.link
{
	text-decoration:none;
	color:#4aa3df;
}

.button 
{
	background-color:#4aa3df; 
	border-color:#4aa3df;
	border-width:5px;
	border-style:solid;
	color:white;
	padding:15px 32px;
	text-align:center;
	text-decoration:none;
	font-size:16px;
}

.input
{
	border-color:#4aa3df;
	border-width:5px;
	border-style:solid;
	color:#4aa3df;
	width:100px;
	height:20px;
	padding:15px 32px;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	font-size:16px;
}

.description
{
	margin-top:20px;
	margin-bottom:20px;
}

.lien
{
	margin-top:20px;
	margin-bottom:20px;
}

.titre
{
	margin-top:20px;
	margin-bottom:20px;
}

.contenu
{
	margin-top:20px;
	margin-bottom:20px;
}

label
{
	font-weight:bold;
}

ul#menu li 
{ 
	display:inline;
	padding:0 0.5em;
}
ul#menu 
{
	width:600px;
	height:25px;
	list-style-type:none;
}
li.g
{
	float:left;
}
li.d
{
	float:right;
}
/* titres */
.soustitrebleu
{
background-color:#4aa3df;
font-weight:bold;
padding:15px;
color:#FFFFFF;
width:600px;
border-color:#4aa3df;
border-width:5px;
border-style:solid;
}
.titrerouge
{
background-color:#e74c3c;
font-weight:bold;
padding:15px;
color:#FFFFFF;
text-align:center;

font-size:200%;
}
.soustitrerouge
{
background-color:#e74c3c;
font-weight:bold;
padding:15px;
color:#FFFFFF;
}

.soustitrejaune
{
background-color:#f1c40f;
font-weight:bold;
padding:15px;
color:#FFFFFF;
}
/* Div */
.bleu
{
border-color:#4aa3df;
border-width:5px;
border-style:solid;
padding:15px;
background-color:#FFFFFF;
width:600px;
}
.jaune
{
border-color:#f1c40f;
border-width:5px;
border-style:solid;
padding:15px;
margin-bottom:50px;
background-color:#FFFFFF;
}

.rouge
{
border-color:#e74c3c;
border-width:5px;
border-style:solid;
padding:15px;
margin-bottom:50px;
background-color:#FFFFFF;
}